.form{
    display: grid;
    grid-template: 40px 40px/ 1fr 1fr;
    gap: 17px;
}
.button{
    grid-column: 1/-1;
}
.main{
    padding: 36px;
}
.imageContainer{
    color: white;
    position: relative;
    .firstWord{
        position: absolute;
        transform: translate(100px, -400px);
            }
    .secondWord{
        position: absolute;
        transform: translate(100px, -200px);
    }
}